@{
    ViewData["Title"] = "Home";
}
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Bảng điểm nhuận bút cá nhân theo tháng
    </div>
    <div class="card-body">
        <form class="form-inline" id="search-log" method="POST">
            <div class="form-group">
                <label for="timeSearch"><strong>Tin bài tháng:</strong></label>
                <div class="flex-column">
                    <input type="text" class="form-control ml-2" placeholder="" readonly name="timeSearch" id="timeSearch" value="@DateTime.Now.ToString("MM/yyyy")">
                </div>
                <button type="button" id="toggle1" class="btn btn-secondary">
                    <i class="far fa-calendar-alt"></i>
                </button>
            </div>
            <button type="submit" class="btn btn-success ml-2">Tìm kiếm</button>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover animated fadeIn" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nội dung</th>
                        <th></th>
                        <th></th>
                        <th>Thể loại</th>
                        <th>Ngày phát sóng</th>
                        <th></th>
                        <th></th>
                        <th>Người chấm</th>
                        <th>Điểm</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nội dung</th>
                        <th></th>
                        <th></th>
                        <th>Thể loại</th>
                        <th>Ngày phát sóng</th>
                        <th></th>
                        <th></th>
                        <th>Người chấm</th>
                        <th>Điểm</th>
                    </tr>
                </tfoot>
                <tbody id="dataTable-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Cập nhật lúc @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")</div>
</div>
@section BangDiemNhuanBut {
    active
}
@section Scripts {
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>
    <script src="~/js/home.js"></script>
}