USE [master]
GO
/****** Object:  Database [PetShop]    Script Date: 7/11/2019 3:45:30 AM ******/
CREATE DATABASE [PetShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PetShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PetShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetShop]
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[AccID] [nvarchar](15) NOT NULL,
	[AccName] [nvarchar](50) NOT NULL,
	[AccCatID] [nvarchar](15) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Price] [float] NOT NULL,
	[StartSellingDate] [date] NOT NULL,
	[Image] [nvarchar](500) NULL,
	[AvailableQuantity] [int] NOT NULL,
	[SalePercent] [float] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Accessory] PRIMARY KEY CLUSTERED 
(
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessoryCategory]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessoryCategory](
	[AccCatID] [nvarchar](15) NOT NULL,
	[AccCatName] [nvarchar](50) NOT NULL,
	[PetCatID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_AccessoryCategory] PRIMARY KEY CLUSTERED 
(
	[AccCatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessoryTransaction]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessoryTransaction](
	[AccTranID] [nvarchar](15) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[TimeOrder] [datetime] NOT NULL,
	[TimeFinish] [datetime] NULL,
	[DeliveryAddress] [nvarchar](500) NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AccessoryTransaction] PRIMARY KEY CLUSTERED 
(
	[AccTranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessoryTransactionRel]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessoryTransactionRel](
	[AccID] [nvarchar](15) NOT NULL,
	[AccTranID] [nvarchar](15) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_TransAccRelation] PRIMARY KEY CLUSTERED 
(
	[AccTranID] ASC,
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[AccID] [nvarchar](15) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetCategory]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetCategory](
	[PetCatID] [nvarchar](15) NOT NULL,
	[PetType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PetCategory] PRIMARY KEY CLUSTERED 
(
	[PetCatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Principal]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Principal](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Principal] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[SerID] [nvarchar](15) NOT NULL,
	[SerCatID] [nvarchar](15) NOT NULL,
	[PetCatID] [nvarchar](15) NOT NULL,
	[MinWeight] [int] NOT NULL,
	[MaxWeight] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[SerCatID] [nvarchar](15) NOT NULL,
	[SerCatName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ServiceCategory] PRIMARY KEY CLUSTERED 
(
	[SerCatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTransaction]    Script Date: 7/11/2019 3:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTransaction](
	[SerTranID] [nvarchar](15) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[TimeOrder] [datetime] NOT NULL,
	[TimeFinish] [datetime] NULL,
	[TotalPrice] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ServiceTransaction] PRIMARY KEY CLUSTERED 
(
	[SerTranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTransactionRel]    Script Date: 7/11/2019 3:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTransactionRel](
	[SerID] [nvarchar](15) NOT NULL,
	[SerTranID] [nvarchar](15) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_TransSerRelation] PRIMARY KEY CLUSTERED 
(
	[SerTranID] ASC,
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 7/11/2019 3:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[AccID] [nvarchar](15) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accessory] ([AccID], [AccName], [AccCatID], [Brand], [Description], [Price], [StartSellingDate], [Image], [AvailableQuantity], [SalePercent], [isDelete]) VALUES (N'A0002', N'Adult Dog Food - Chicken & Brown Rice', N'AC002', N'Life Protection Formula', N'Formulated for the health and well-being of dogs, BLUE Life Protection Formula is made with the finest natural ingredients and features.', 32.99, CAST(N'2019-01-01' AS Date), N'A0002.jpg', 10, 0, 0)
INSERT [dbo].[Accessory] ([AccID], [AccName], [AccCatID], [Brand], [Description], [Price], [StartSellingDate], [Image], [AvailableQuantity], [SalePercent], [isDelete]) VALUES (N'A0003', N'Adult Dog Food - Natural, Chicken & Brown Rice', N'AC002', N'Simply Nourish', N'We understand pet nutrition can be confusing and choosing the right food for your pet can be overwhelming. That''s why Simply Nourish Chicken & Brown Rice Recipe Adult Dog Food believes in making pet nutrition simple and understandable.', 25.29, CAST(N'2017-02-03' AS Date), N'A0003.jpg', 5, 0, 0)
INSERT [dbo].[AccessoryCategory] ([AccCatID], [AccCatName], [PetCatID]) VALUES (N'AC001', N'Cat Food', N'PC001')
INSERT [dbo].[AccessoryCategory] ([AccCatID], [AccCatName], [PetCatID]) VALUES (N'AC002', N'Dog Food', N'PC002')
INSERT [dbo].[AccessoryCategory] ([AccCatID], [AccCatName], [PetCatID]) VALUES (N'AC003', N'Cat Toy', N'PC001')
INSERT [dbo].[Favorite] ([AccID], [Username]) VALUES (N'A0001', N'aa')
INSERT [dbo].[Favorite] ([AccID], [Username]) VALUES (N'A0001', N'asd')
INSERT [dbo].[Favorite] ([AccID], [Username]) VALUES (N'A0001', N'asdasd')
INSERT [dbo].[PetCategory] ([PetCatID], [PetType]) VALUES (N'PC001', N'Cat')
INSERT [dbo].[PetCategory] ([PetCatID], [PetType]) VALUES (N'PC002', N'Dog')
INSERT [dbo].[Principal] ([Username], [Password], [Role], [Fullname], [Phone], [Address]) VALUES (N'', N'', N'user', N'', N'', N'')
INSERT [dbo].[Principal] ([Username], [Password], [Role], [Fullname], [Phone], [Address]) VALUES (N'aa', N'Tuananhkt', N'user', N'asd', N'2131231231', N'asddgdfgdf')
INSERT [dbo].[Principal] ([Username], [Password], [Role], [Fullname], [Phone], [Address]) VALUES (N'aaaa', N'Tuananhkt', N'user', N'asdhal', N'1231231231', N'asd')
INSERT [dbo].[ServiceCategory] ([SerCatID], [SerCatName]) VALUES (N'SC730', N'Pet Hotel')
INSERT [dbo].[ServiceCategory] ([SerCatID], [SerCatName]) VALUES (N'SC769', N'Bathing')
INSERT [dbo].[ShoppingCart] ([AccID], [Username], [Quantity]) VALUES (N'A0001', N'c', 3)
INSERT [dbo].[ShoppingCart] ([AccID], [Username], [Quantity]) VALUES (N'A0002', N'c', 1)
INSERT [dbo].[ShoppingCart] ([AccID], [Username], [Quantity]) VALUES (N'A0004', N'c', 1)
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_AccessoryCategory] FOREIGN KEY([AccCatID])
REFERENCES [dbo].[AccessoryCategory] ([AccCatID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_AccessoryCategory]
GO
ALTER TABLE [dbo].[AccessoryCategory]  WITH CHECK ADD  CONSTRAINT [FK_AccessoryCategory_PetCategory] FOREIGN KEY([PetCatID])
REFERENCES [dbo].[PetCategory] ([PetCatID])
GO
ALTER TABLE [dbo].[AccessoryCategory] CHECK CONSTRAINT [FK_AccessoryCategory_PetCategory]
GO
ALTER TABLE [dbo].[AccessoryTransaction]  WITH CHECK ADD  CONSTRAINT [FK_AccessoryTransaction_Principal] FOREIGN KEY([Username])
REFERENCES [dbo].[Principal] ([Username])
GO
ALTER TABLE [dbo].[AccessoryTransaction] CHECK CONSTRAINT [FK_AccessoryTransaction_Principal]
GO
ALTER TABLE [dbo].[AccessoryTransactionRel]  WITH CHECK ADD  CONSTRAINT [FK_TransAccRelation_Accessory] FOREIGN KEY([AccID])
REFERENCES [dbo].[Accessory] ([AccID])
GO
ALTER TABLE [dbo].[AccessoryTransactionRel] CHECK CONSTRAINT [FK_TransAccRelation_Accessory]
GO
ALTER TABLE [dbo].[AccessoryTransactionRel]  WITH CHECK ADD  CONSTRAINT [FK_TransAccRelation_AccessoryTransaction] FOREIGN KEY([AccTranID])
REFERENCES [dbo].[AccessoryTransaction] ([AccTranID])
GO
ALTER TABLE [dbo].[AccessoryTransactionRel] CHECK CONSTRAINT [FK_TransAccRelation_AccessoryTransaction]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Accessory] FOREIGN KEY([AccID])
REFERENCES [dbo].[Accessory] ([AccID])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Accessory]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Principal] FOREIGN KEY([Username])
REFERENCES [dbo].[Principal] ([Username])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Principal]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_PetCategory] FOREIGN KEY([PetCatID])
REFERENCES [dbo].[PetCategory] ([PetCatID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_PetCategory]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_ServiceCategory] FOREIGN KEY([SerCatID])
REFERENCES [dbo].[ServiceCategory] ([SerCatID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_ServiceCategory]
GO
ALTER TABLE [dbo].[ServiceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_ServiceTransaction_Principal] FOREIGN KEY([Username])
REFERENCES [dbo].[Principal] ([Username])
GO
ALTER TABLE [dbo].[ServiceTransaction] CHECK CONSTRAINT [FK_ServiceTransaction_Principal]
GO
ALTER TABLE [dbo].[ServiceTransactionRel]  WITH CHECK ADD  CONSTRAINT [FK_TransSerRelation_Service] FOREIGN KEY([SerID])
REFERENCES [dbo].[Service] ([SerID])
GO
ALTER TABLE [dbo].[ServiceTransactionRel] CHECK CONSTRAINT [FK_TransSerRelation_Service]
GO
ALTER TABLE [dbo].[ServiceTransactionRel]  WITH CHECK ADD  CONSTRAINT [FK_TransSerRelation_ServiceTransaction] FOREIGN KEY([SerTranID])
REFERENCES [dbo].[ServiceTransaction] ([SerTranID])
GO
ALTER TABLE [dbo].[ServiceTransactionRel] CHECK CONSTRAINT [FK_TransSerRelation_ServiceTransaction]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Accessory] FOREIGN KEY([AccID])
REFERENCES [dbo].[Accessory] ([AccID])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Accessory]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Principal] FOREIGN KEY([Username])
REFERENCES [dbo].[Principal] ([Username])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Principal]
GO
USE [master]
GO
