
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="page-top-info">
    <div class="container">
        <h4>Admin</h4>
        <div class="site-pagination">
            <a asp-controller="Admin" asp-action="Index">Admin</a> /
        </div>
    </div>
</div>
<h1 class="text-center mt-5 mb-5" style="color: #33ff33">WELCOME TO ADMIN PAGE</h1>

