@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Phan mem quan ly nhuan but">
    <meta name="author" content="Tuan Anh">
    <title>Đăng nhập - Quản Lý Nhuận Bút</title>
    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <style>
        .card-login {
            max-width: 40rem;
        }

        .error {
            color: red;
            margin: 5px 0;
        }
    </style>
</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Đăng nhập</div>
            <div class="card-body">
                <form id="form-login" method="POST" asp-area="" asp-controller="User" asp-action="LogIn">
                    <div class="form-group">
                        <p class="error mb-1" id="login-result">@ViewData["result"]</p>
                        <label for="username"><strong><i class="fa fa-user" aria-hidden="true"></i> Tên đăng nhập</strong></label>
                        <input type="text" id="username" name="username" class="form-control" autofocus="autofocus" pattern="(\d|\w){1,30}">
                    </div>
                    <div class="form-group">
                        <label for="password"><strong><i class="fa fa-lock" aria-hidden="true"></i> Mật khẩu</strong></label>
                        <input type="password" id="password" name="password" class="form-control" pattern="(?=.*[A-Z])(?=.*[a-z])[A-Za-z0-9]{8,16}">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/additional-methods.js"></script>
    <script src="~/js/login.js"></script>
</body>
</html>
