
@{
    ViewData["Title"] = "Services";
}

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Services page</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Home</a> /
            <a href="#">Services</a>
        </div>
    </div>
    <div class="text-center"><img src="../img/dirkercken131000457.jpg" /></div>
</div>
